################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentSuccessPortalAttendance/v17
/.vs/VSWorkspaceState.json
/packages
/ACMESSPAttendance/bin/ACMESSPAttendance.dll
/ACMESSPAttendance/bin/ACMESSPAttendance.dll.config
/ACMESSPAttendance/bin/ACMESSPAttendance.pdb
/ACMESSPAttendance/bin/Dapper.dll
/ACMESSPAttendance/bin/Dapper.xml
/ACMESSPAttendance/bin/System.IO.dll
/ACMESSPAttendance/bin/System.Runtime.dll
/ACMESSPAttendance/Properties/PublishProfiles/FolderProfile.pubxml
/ACMESSPAttendance/Properties/PublishProfiles/FolderProfile.pubxml.user
/ACMESSPAttendance/Content
/.vs/ACMESSPAttendance/FileContentIndex
/.vs/ACMESSPAttendance/v17/.suo
/ACMESSPAttendance/obj/Release
/.vs/ACMESSPAttendance/config/applicationhost.config
/ACMESSPAttendance/obj/Debug/ACMESSPAttendance.csproj.AssemblyReference.cache
/ACMESSPAttendance/obj/Debug/ACMESSPAttendance.csproj.CoreCompileInputs.cache
/ACMESSPAttendance/obj/Debug/ACMESSPAttendance.csproj.FileListAbsolute.txt
/ACMESSPAttendance/obj/Debug/ACMESSPAttendance.dll
/ACMESSPAttendance/obj/Debug/ACMESSPAttendance.pdb
/ACMESSPAttendance/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ACMESSPAttendance/ACMESSPAttendance.csproj.user
/ACMESSPAttendance/obj/Release/ACMESSPAttendance.csproj.AssemblyReference.cache
/ACMESSPAttendance/obj/Release/ACMESSPAttendance.csproj.CoreCompileInputs.cache
/ACMESSPAttendance/obj/Release/ACMESSPAttendance.csproj.FileListAbsolute.txt
/ACMESSPAttendance/obj/Release/ACMESSPAttendance.dll
/ACMESSPAttendance/obj/Release/ACMESSPAttendance.pdb
/ACMESSPAttendance/obj/Release/Package/PackageTmp/About.aspx
/ACMESSPAttendance/obj/Release/Package/PackageTmp/AttendanceLogin.aspx
/ACMESSPAttendance/obj/Release/Package/PackageTmp/bin/ACMESSPAttendance.dll
/ACMESSPAttendance/obj/Release/Package/PackageTmp/bin/ACMESSPAttendance.pdb
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Contact.aspx
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Content/home.css
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Content/login.css
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Global.asax
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Site.Master
/ACMESSPAttendance/obj/Release/Package/PackageTmp/Web.config
/ACMESSPAttendance/obj/Release/TransformWebConfig/original/Web.config
/ACMESSPAttendance/obj/Release/TransformWebConfig/transformed/Web.config
/ACMESSPAttendance/obj/Release/_WPPLastBuildInfo.txt
/ACMESSPAttendance/Properties/PublishProfiles/FolderProfile.pubxml
/ACMESSPAttendance/Properties/PublishProfiles/FolderProfile.pubxml.user
