body {
    padding: 0;
    /*font-family: "Frutiger", Helvetica, Arial, sans-serif;*/
}
.student-reg {
    color: #333;
    background-color: #fff;
    border: 2px solid #8bc34a;
    padding: 8px 20px;
    font-weight: 600;
    height: 40px !important;
    border-radius: 4px !important;
}
.reg-div {
    display: flex;
    width: 100%;
    justify-content: end;
    max-width: 303px;
    margin: 20px;
}
.sign-in {
    font-size: 12px;
    font-weight: 500;
}
.forget-sec {
    font-weight: 300;
    border-bottom: 1px solid #333;
    margin: -15px 0 10px !important;
    font-size: 12px !important;
}
input {
    color: #dad5d1;
}
.form-control {
    background-color: #eeede9;
    opacity:0.6;
}
.student-reg {
    background-color:#eeede9;
}

class-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.bgimag {
    background-image: url(..//Images/attendance.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 182px);
    background-repeat: no-repeat;
    background-position: center;
}
.header-section {
    background-color: #fff;
    padding: 60px 50px;
}

.head-title {
    color: #fff;
    /*font-family: "Frutiger", Helvetica, Arial, sans-serif;*/
    text-align: center;
    width: 100%;
    max-width: 312px;
    font-weight: 500;
    margin: 15px auto;font-size:26px;
}
.loginpnl {
    /*background: rgba(255,255,255,0.5);*/
    background: #1e1d1db5;
    display: table;
    margin: 0 auto;
    padding: 20px 20px;
    width: 100%;
    max-width: 400px;
    top: 30px;
    height: auto;
    position: relative;
    border-radius: 2px !important;
}
.sspimg {
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
    margin-top: 25px;
}
a {
    color: #0b0b0b !important;
    text-decoration: none;
}

@media only screen and (max-width: 992px){
    .sspimg {
        max-width: 360px;
        width: 100%;
        
    }
    .header-section{padding:40px 30px;}
}